/*  your css code here. If applicable */
#yellow{
	background: yellow;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-color: green;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style:solid;
	border-right-style:solid;
}

#red{
	background: red;
		border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-color: green;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style:solid;
	border-right-style:solid;
}

#green{
	background: green;
		border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-color: green;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style:solid;
	border-right-style:solid;
}